.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    height: 100px;
    width: 100%;
    z-index: 99;

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;

        border-radius: 100px;
        border-top: solid 1px rgba(255, 255, 255, 0.082);
        border-left: solid 1px rgba(255, 255, 255, 0.082);
        border-right: solid 1px rgba(255, 255, 255, 0.082);
        border-bottom: solid 1px rgba(255, 255, 255, 0.082);
        backdrop-filter: blur(10px);

        background-color: rgba(255, 255, 255, 0.055);

        -webkit-box-shadow: 0px 5px 15px 5px rgba(255,255,255,0.1); 
        box-shadow: 0px 5px 15px 5px rgba(255,255,255,0.02);

        ul{
            display: flex;
            margin: 0 16px;
            padding: 0;
            transition: .2s ease-in-out;

            &:hover{
                li{
                    filter: blur(1px);
                }
            }

            li{
                display: flex;
                margin: 0;
                padding: 0;
                color: var(--white);
                padding: 0 16px;
                transition: .2s ease-in-out;
                font-weight: 500;
                font-size: 14px;
                transition: .2s ease-in-out;

                &:hover{
                    text-shadow: 0px 2px 9px rgba(255, 255, 255, 0.897);
                    cursor: pointer;
                    filter: blur(0px);
                }

                a{
                    text-decoration: none;
                    color: var(--white);
                }
            }
        }
    }
}