.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1000px;
    width: 100%;

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 1194px;

        .actionContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 0 0 16px 0;
            border-radius: 120px;

            

            .searchContainer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 780px;
                border-radius: 100px;

                border-top: solid 1px rgba(255, 255, 255, 0.082);
                border-left: solid 1px rgba(255, 255, 255, 0.082);
                border-right: solid 1px rgba(255, 255, 255, 0.082);
                border-bottom: solid 1px rgba(255, 255, 255, 0.082);
                background-color: rgba(112, 110, 116, 0.137);
                -webkit-box-shadow: 0px 5px 15px 5px rgba(255,255,255,0.1); 
                box-shadow: 0px 5px 15px 5px rgba(255,255,255,0.02);

                svg{
                    height: 16px;
                    margin: 0 0 0 16px;
                }

                .searchInput{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding: 8px 16px;
                    color: var(--white);
                    width: 100%;
                }

                .searchButton{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 32px;
                    border-radius: 0 100px 100px 0;
                    border-left: solid 1px rgba(255, 255, 255, 0.082);

                    &:hover{
                        cursor: pointer;
                    }

                    svg{
                        margin: 0 0 0 12px;
                    }

                    p{
                        margin: 0 12px;
                        font-size: 13px;
                        color: var(--white);
                    }
                }
            }

            .orderInput{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                height: 32px;
                width: 366px;
                
                padding: 0 0 0 12px;
                font-size: 13px;
                border-radius: 100px;
                outline: none;
                color: var(--white);

                border: solid 1px rgba(255, 255, 255, 0.082);
                background-color: rgba(112, 110, 116, 0.137);
                -webkit-box-shadow: 0px 5px 15px 5px rgba(255,255,255,0.1); 
                box-shadow: 0px 5px 15px 5px rgba(255,255,255,0.02);

                &:hover{
                    cursor: pointer;
                }
            }

            .orderContainer{
                position: absolute;
                border-radius: 12px;
                border: solid 1px rgba(255, 255, 255, 0.082);

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    border-radius: 15px;

                    background-color: rgb(0, 0, 0);
                    

                    li{
                        display: flex;
                        margin: 0;
                        padding: 6px;
                        background-color: rgba(112, 110, 116, 0.137);

                        &:first-child{
                            border-radius: 12px 12px 0 0;
                            padding: 10px 0 6px 6px;
                        }

                        &:last-child{
                            border-radius: 0 0 12px 12px;
                            padding: 6px 0 10px 6px;
                        }
                        
                        button{
                            display: flex;
                            justify-content: flex-start;
                            width: 352px;
                            border: none;
                            outline: none;
                            background-color: transparent;
                            color: var(--white);
                            padding: 6px 0 6px 6px;
                            border-radius: 6px;

                            &:hover{
                                background-color: rgba(112, 110, 116, 0.226);;
                                cursor: pointer;
                            }
                            
                        }
                    }
                }
            }
        }

        .taskContainer{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 48px;

            .createTask{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 265px;
                width: 300px;
                padding: 16px 32px;
                border-radius: 12px;
                color: var(--white);

                border-top: solid 1px rgba(255, 255, 255, 0.082);
                border-left: solid 1px rgba(255, 255, 255, 0.082);
                border-right: solid 1px rgba(255, 255, 255, 0.082);
                border-bottom: solid 1px rgba(255, 255, 255, 0.082);
                background-color: rgba(112, 110, 116, 0.137);
                -webkit-box-shadow: 0px 5px 15px 5px rgba(255,255,255,0.1); 
                box-shadow: 0px 5px 15px 5px rgba(255,255,255,0.02);

                &:hover{
                    cursor: pointer;

                    svg{
                        animation: spin .6s ease-in-out forwards;
                    }
                }

                svg{
                    height: 30px;
                }
            }
        }
    }
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}